@model IEnumerable<AgroPrice.Services.WholeSaleMarket.Models.ProductComponent>
@{
    Layout = null;
}


<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <i class="fas fa-table"></i>
                Produktet
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" style="text-align: center" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Produkti</th>
                        <th>Sasia totale</th>
                        <th>Cmimi mesatar</th>
                        <th>Pikat e shitjes</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Produkti</th>
                        <th>Sasia totale</th>
                        <th>Cmimi mesatar</th>
                        <th>Pikat e shitjes</th>
                    </tr>
                </tfoot>
                <tbody>
                @foreach (var products in Model)
                {
                    <tr>
                        <td>@products.Name</td>
                        <td>@products.AmountSum</td>
                        <td>@products.AvaragePrice</td>
                        <td><a class="btn btn-primary" href="@Url.Action("SpecificProductOnWholeSaleMarket","WholeSaleMarket",new {wholeSaleMarketId = @products.Id, productName = @products.Name})">Pikat e shitjes</a></td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>