@model IEnumerable<AgroPrice.Services.PointOfSale.Models.PointOfSaleModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page level plugin CSS-->
<link href="~/Content/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">



<br />
<hr />

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Tables</li>
</ol>
<!-- DataTables Example -->
<div class="card mb-3" >
    <div class="card-header">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <i class="fas fa-table"></i>
                Krijo nje pike shitje
            </div>
            <div class="mr-auto col-lg-8 col-md-6 col-sm-12" style="text-align: end">
                <a class="btn btn-primary" href="@Url.Action("CreateSellerWithPointOfSale", "PointOfSale")">
                    Krijo nje pike shitje 
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" style="text-align: center" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Pershkrimi</th>
                    <th>Tregu</th>
                    <th>Shitesi</th>
                    <th><i class="fa fa-edit"></i></th>
                    <th><i class="fa fa-trash"></i></th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Pershkrimi</th>
                    <th>Tregu</th>
                    <th>Shitesi</th>
                    <th><i class="fa fa-edit"></i></th>
                    <th><i class="fa fa-trash"></i></th>
                </tr>
                </tfoot>
                <tbody>
                @foreach (var pointOfSale in Model)
                {
                    <tr>
                        <td>@pointOfSale.Description</td>
                        <td>@pointOfSale.WholeSaleMarket.Name</td>
                        <td>@pointOfSale.User.UserName</td>
                        <th>
                            <a class="btn btn-primary btn-sm" href="@Url.Action("Update", "Episode", new{id=pointOfSale.Id})" data-toggle="modal" data-target="#updateEpisode"
                               data-ajax="true" data-ajax-method="GET" data-ajax-mode="Replace" data-ajax-update="#updateEpisodeBody">
                                <i class="fa fa-edit"></i>
                            </a>
                        </th>
                        <th>
                            <a class="btn btn-danger remove-episode btn-sm" data-episodeid="@pointOfSale.Id" href="#">
                                <i class="fa fa-trash"></i>
                            </a>
                        </th>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- /.content-wrapper -->
<!-- Bootstrap core JavaScript-->
<script src="~/Content/vendor/jquery/jquery.min.js"></script>
<script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Page level plugin JavaScript
<script src="~/Content/vendor/chart.js/Chart.min.js"></script>-->
<script src="~/Content/vendor/datatables/jquery.dataTables.js"></script>
<script src="~/Content/vendor/datatables/dataTables.bootstrap4.js"></script>
<!-- Custom scripts for all pages-->
<script src="~/Content/js/sb-admin.min.js"></script>
<!-- Demo scripts for this page-->
<script src="~/Content/js/demo/datatables-demo.js"></script>
<!--<script src="~/Content/js/demo/chart-area-demo.js"></script>-->