@using Microsoft.CodeAnalysis.Differencing
@model AgroPrice.Services.PointOfSale.Models.PointOfSaleDetailsModel
@{
    ViewData["Title"] = "PointOfSaleDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Pika ime e shitjes</h1>
        <p class="lead text-muted">@Model.PointOfSaleModel.Description</p>
        <p>
            <a href="@Url.Action("Index","Home")" class="btn btn-primary">Kreu</a>
        </p>
    </div>
</section>
<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            @{
                string url = "";
                foreach (var product in Model.Products)
                {
                    url = product.Name + ".jpg";
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 180px; width: 100%; display: block;" src="/Images/Agro/@url" data-holder-rendered="true">
                            <hr />
                            <div class="card-body text-center">
                                @if (product.Origin != null)
                                {
                                    <div class="row">
                                        <p class="card-text" style="width: 50%; text-align: center">Cmimi: @product.Price Leke</p>
                                        <p class="card-text" style="width: 50%; text-align: center">Sasia: @product.Quantity Kg</p>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a class="btn btn-sm btn-outline-secondary" href="@Url.Action("EditQuantity", "Product", new {id = product.Id})" data-toggle="modal" data-target="#editQuantity"
                                               data-ajax="true" data-ajax-method="GET" data-ajax-mode="Replace" data-ajax-update="#editQuantityBody">
                                                Ndrysho sasine
                                            </a>
                                        </div>
                                        <small class="text-muted">@product.Origin</small>
                                    </div>
                                }
                                else
                                {
                                    <a class="btn btn-danger" href="@Url.Action("RegisterProduct", "Product", new {productName=product.Name,id = Model.PointOfSaleModel.Id})" data-toggle="modal" data-target="#registerProduct"
                                       data-ajax="true" data-ajax-method="GET" data-ajax-mode="Replace" data-ajax-update="#registerProductBody">
                                        Regjistro Produktin
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

@section Modals
{
    <modal id="registerProduct" title="Regjistro Produktin"></modal>
    <modal id="editQuantity" title="Ndrysho Sasine"></modal>
}
@section Scripts
    {
    <script src="https://cdn.jsdelivr.net/npm/jquery-ajax-unobtrusive@3.2.6/dist/jquery.unobtrusive-ajax.min.js"></script>
}

