@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
@{
    ViewData["Title"] = "List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Tables</li>
</ol>
<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <i class="fas fa-table"></i>
                Bleresit
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" style="text-align: center" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Pershkrimi</th>
                    <th>Tregu</th>
                    <th>Shitesi</th>
                    <th><i class="fa fa-edit"></i></th>
                    <th><i class="fa fa-trash"></i></th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Pershkrimi</th>
                    <th>Tregu</th>
                    <th>Shitesi</th>
                    <th><i class="fa fa-edit"></i></th>
                    <th><i class="fa fa-trash"></i></th>
                </tr>
                </tfoot>
                <tbody>
                @foreach (var users in Model)
                {
                    <tr>
                        <td>@users.UserName</td>
                        <td>@users.Email</td>
                        <td>@users.PhoneNumber</td>
                        <th>
                            <a class="text-primary" href="@Url.Action("ChangePassword", "User", new {id = users.Id})" data-toggle="modal" data-target="#changePassword"
                               data-ajax="true" data-ajax-method="GET" data-ajax-mode="Replace" data-ajax-update="#changePasswordBody">
                                <i class="fa fa-key"></i>
                            </a>
                        </th>
                        <th>
                            <a class="btn btn-danger remove-user btn-sm" data-userid="@users.Id" href="#">
                                <i class="fa fa-trash"></i>
                            </a>
                        </th>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Modals
{
    <modal id="changePassword" title="Ndrysho fjalekalimin"></modal>
}
@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/jquery-ajax-unobtrusive@3.2.6/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $(".remove-user").click(function () {
            var userId = $(this).data('userid');
            Swal.fire({
                title: 'Jeni i sigurt?',
                text: "Ju do te fshini nje bleres!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Po, fshije!'
            }).then((result) => {
                if (result.value) {
                    deleteUser(userId);
                };
            });

        });

        deleteUser = function(userId) {
            $.ajax({
                url: '@Url.Action("DeleteUser", "User")',
                type: 'GET',
                data: {
                    id: userId
                },
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            title: 'U fshi!',
                            text: "Llogaria e bleresit u fshi me sukses!",
                            type: 'success'
                        }).then((result) => {
                            // reload the page
                            location.reload(true);
                        });
                    } else {
                        Swal.fire({
                            title: 'Gabim!',
                            text: "Fshirja e llogarise se bleresit deshtoi!",
                            type: 'error'
                        });
                    }
                }
            });
        }
    </script>
}